@page {
    size: auto;
    margin: 0;
}
body{
    padding: 1em;
    border: 2px dashed #000;
    border-radius: 5px;
}
.header{
    text-align: center;
}
.no-margin{
    margin: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.roow{
    margin: -2px;
}
.margin-20{
    margin-right: 20px;
}
.centre{
    text-align: center;
}
.clearfix{
    clear: both;
}
.fees-content{
    /*padding: 30px 0px 30px 0px;*/
}
.amount span{
    float: right;
}

.signarea p{
    text-align: right;
    margin-top: 60px;
}
table{
    width: 100%;
    height: 100px;
}
#header_details td:first-child{
    width: 10%;
}
#header_details td:last-child{
    width: 20%;
}

#footer_table td{
    width: 33%;
}
p{
    line-height: 25px;
}
.receipt_user_title{
    font-size: 20px;
}

.receipt_user_amount{
    font-size: 20px;
    border: 2px solid #e2e3e5 !important;
    padding: 0.5em;
    width: 200px;
}
.receipt_user_donation_amount{
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid #000;
}
.receipt_user_donation_amount_words{
    padding-left: 250px;
    padding-right: 250px;
    border-bottom: 1px solid #000;
}